<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<div th:replace="fragments/resources :: headTags">
	</div>
	<title> Edit Pizze</title>
</head>

<body>
	<h1 class="mx-5">Pizza</h1>
	<hr>
	<form id="pizza-form" th:object="${pizza}" th:action="${edit} ?@{/edit/{id}(id=${pizza.id})} : @{/create}" method="post">
		<div class="row">
			<div class="col-8">
				<div class="row mx-4">
					<div class="col-3">
						<label class="form-label" for="nome">Nome Pizza</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
							<ul>
								<li th:each="err:${#fields.errors('nome')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<div class="col-3">
						<label class="form-label" for="prezzo">Prezzo</label>
						<input type="number" class="form-control" id="prezzo" th:field="*{prezzo}"
							th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
							<ul>
								<li th:each="err:${#fields.errors('prezzo')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<div class="col-12">
						<label class="form-label" for="descrizione">Descrizione</label>
						<textarea class="form-control" id="descrizione" th:field="*{descrizione}" rows="5"
							th:errorClass="is-invalid"></textarea>
						<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
							<ul>
								<li th:each="err:${#fields.errors('descrizione')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<div class="col-12">
						<button class="btn btn-primary mt-3" type="submit"><i class="fas fa-check"></i> Salva</button>
						<a class="btn btn-primary mt-3" th:href="@{/}"><i class="fas fa-times"></i> Annulla</a>
					</div>
				</div>
			</div>
			
			<div class="col-4">
				<h4>Ingredienti</h4>
				<div class="form-check" th:each="ingr : ${ingredientiList}">
					<input class="form-check-input" type="checkbox" th:value="${ingr.id}" th:id="|ingredienti_${ingr.id}|" th:field="*{ingredienti}">
					<label class="form-check-label" th:for="|ingredienti_${ingr.id}|" th:text="${ingr.nome}">
					</label>
				</div>
				</div>
		</div>
	</form>
	<div th:replace="fragments/resources ::scripts"></div>

</body>

</html>